# Java / Maven
target/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Docker
**/.env.prod

# Others
*.class
*.jar
*.war
*.ear

# VSCode
.vscode/
